@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

body {
  font-family: "Roboto Mono", monospace, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: rgb(51, 92, 103);
  color: #fff3b0;
}

button {
  background: none;
  border: 2px solid #fff3b0;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff3b0;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #9e2a2b;
  color: #fff3b0;
}

h1 {
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 30ch;
  animation: typing 2s steps(20), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
